<script id="bootstrap-current-user" type="text/javascript">
  <% if logged_in? %>
  	window.currentUser = <%= render("api/users/users.json.jbuilder",
  		user: current_user).html_safe %>
  <% end %>
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjambprIzjQ9AmfFtKdY1T-pPMQzwaDQ4&callback=initMap">
</script>

<main id="root">

</main>
